body {
  display: none;
  font-family: $primary-font, $secondary-font;
}

@media (min-width: 20rem) {
  body {
    display: block;
  }
}

// containers max-width 1440px
@media (min-width: 90rem) {
  header,
  main,
  footer {
    margin: 0 calc((100vw - 90rem) / 2);
    max-width: 90rem;
    min-width: 20rem;
  }
}
