/* theme colors */
:root {
  --bg-color: #fff;
  --font-color: #424242;
  --primary-color: #000000;
  --secondary-color: #572ee5;
  --secondary-color-dec: 87, 46, 229;
  --heading-color: #5ed7c6;
  --active-color: #9cafc3;
}

[data-theme="dark"] {
  --bg-color: #161625;
  --font-color: #e1e1ff;
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --heading-color: #818cab;
  --active-color: #9cafc3;
}

/* theme fonts */
$primary-font: "Roboto", sans-serif;
$secondary-font: "Montserrat", sans-serif;
