.navbar-logo__link--icon {
  background-image: url(../../../assets/logo-mobile-noc.svg);
}

.navbar-buttons__hamburguer-icon--open-menu {
  background-image: url(../../../assets/burger-modo-noct.svg);
}

.navbar-buttons__hamburguer-icon--close-menu {
  background-image: url(../../../assets/close-modo-noct.svg);
}

@media (min-width: 64rem) {
  .navbar-buttons__create-gif--icon {
    background-image: url(../../../assets/CTA-crear-gifo-modo-noc.svg);
    &:hover {
      background-image: url(../../../assets/CTA-crear-gifo-hover-modo-noc.svg);
    }
    &:active {
      background-image: url(../../../assets/CTA-crear-gifo-active-modo-noc.svg);
    }
  }
}
