// 320px design mobile

.video-container {
  display: flex;
  justify-content: center;
  height: 33rem;
}

.video-webcam__playback {
  display: inline-block;
  padding-top: 1rem;
}

.video-gif__playback {
  display: none;
  padding-top: 1rem;
}

.video-controls {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.video-controls__button {
  margin-left: 1rem;
  padding: 0.5rem;
}

// 768px design desktop
@media (min-width: 48rem) {
}
