.grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 1.25rem;
  width: 100%;

  input[type="button"] {
    background-color: transparent;
    border-radius: 1.563rem;
    border: 0.063rem solid var(--results-button-border-color);
    color: var(--results-title-font-color);
    cursor: pointer;
    display: inline-block;
    font-family: $secondary-font;
    font-size: 0.813rem;
    font-weight: bold;
    height: 3.125rem;
    margin: 5rem 0;
    text-transform: uppercase;
    width: 7.938rem;
    &:hover {
      background-color: var(--results-button-border-color);
      color: var(--results-button-hover-color);
    }
  }
}

.grid > {
  div {
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(9.688rem, 1fr));
    width: 100%;
  }
}

.grid__slide {
  display: flex;
  height: calc((((20 - (1.25 * 0) - (2 * 1.25)) / 1 / 20) * 120 / 155) * 100vw);
  justify-content: center;
  min-height: 7.5rem;
  min-width: 9.688rem;
  width: 100%;

  img {
    display: block;
    height: 100%;
    object-fit: fill;
    width: 100%;
  }
}

// 370px = 2 columns mobile
@media (min-width: 23.125rem) {
  .grid__slide {
    height: calc(
      (((23.125 - (1.25 * 1) - (2 * 1.25)) / 2 / 23.125) * 120 / 155) * 100vw
    );
  }
}

// 545px = 3 columns mobile
@media (min-width: 34.063rem) {
  .grid__slide {
    height: calc(
      (((34.063 - (1.25 * 2) - (2 * 1.25)) / 3 / 34.063) * 120 / 155) * 100vw
    );
  }
}

// 720px = 4 columns mobile
@media (min-width: 45rem) {
  .grid__slide {
    height: calc(
      (((45 - (1.25 * 3) - (2 * 1.25)) / 4 / 45) * 120 / 155) * 100vw
    );
  }
}

// 768px = 1 column desktop
@media (min-width: 48rem) {
  .grid {
    padding: 0 9.688rem;
  }

  .grid > {
    div {
      grid-gap: 1.875rem;
      grid-template-columns: repeat(auto-fill, minmax(16.25rem, 1fr));
    }
  }

  .grid__slide {
    min-width: 16.25rem;
    height: calc(
      (((48 - (1.875 * 0) - (2 * 9.688)) / 1 / 48) * 200 / 260) * 100vw
    );
  }
}

// 860px = 2 columns desktop
@media (min-width: 53.75rem) {
  .grid__slide {
    height: calc(
      (((53.75 - (1.875 * 1) - (2 * 9.688)) / 2 / 53.75) * 200 / 260) * 100vw
    );
  }
}

// 1150px = 3 columns desktop
@media (min-width: 71.875rem) {
  .grid__slide {
    height: calc(
      (((71.875 - (1.875 * 2) - (2 * 9.688)) / 3 / 71.875) * 200 / 260) * 100vw
    );
  }
}

// 1440px = 4 columns desktop
@media (min-width: 90rem) {
  .grid__slide {
    height: 12.5rem;
  }
}
