.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 2.813rem;
}

.front {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.front-title {
  color: var(--front-title-font-color);
  font-family: $secondary-font;
  font-size: 1.563rem;
  margin-top: 0.438rem;
  padding: 0 2.75rem;
  text-align: center;
  width: 100%;
}

.front-title > {
  span {
    color: var(--front-title-font-span-color);
  }

  br {
    display: none;
  }
}

.front-logo {
  margin-top: 1.875rem;
  max-width: 31.376rem;
  padding: 0 3.188rem;
  width: 100%;
}

.search {
  border-radius: 1.688rem;
  border: 0.063rem solid var(--search-border-color);
  display: flex;
  flex-direction: column;
  max-width: 34.375rem;
  padding: 0 1.25rem;
  width: calc(100% - 1.313rem * 2);
}

.search-form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.search-box {
  background-color: transparent;
  border: none;
  color: var(--search-text-font-color);
  font-size: 1rem;
  height: 3.125rem;
  width: 100%;

  &::-webkit-search-cancel-button {
    display: none;
  }
}

.search-bttn {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 1.25rem;
  width: 1.938rem;
}

.search-bttn__submit {
  background-position: left center;
  margin-right: 0.688rem;
}

.search-bttn__submit--hide {
  visibility: hidden;
}

.search-bttn__submit--show {
  visibility: visible;
}

.search-bttn__focus {
  background-position: right center;
  margin-left: 0.688rem;
}

.search-bttn__clear {
  background-size: 0.875rem 0.875rem;
  background-position: right center;
  margin-left: 0.688rem;
}

.search-suggestions {
  border-top: 0.063rem solid var(--search-suggestions-border-top-color);
  list-style: none;
  padding: 0.938rem 0;
  width: 100%;
}

.search-suggestions--hide {
  display: none;
}

.search-suggestions--show {
  display: block;
}

.search-suggestions > {
  li {
    padding-bottom: 0.938rem;
    width: 100%;
    &:last-child {
      padding-bottom: 0;
    }

    a {
      color: #9cafc3;
      display: inline-block;
      text-decoration: none;
      width: 100%;
      &::before {
        background-image: url(/assets/icon-search-submit.svg);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 1rem;
        padding-right: 1.688rem;
        width: 1rem;
      }
    }
  }
}

.trending-terms {
  width: 100%;
}

.trending-terms__title {
  color: var(--trending-terms-title-font-color);
  font-family: $secondary-font;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.938rem;
  text-align: center;
}

.trending-terms__list {
  font-family: $secondary-font;
  font-size: 0.875rem;
  font-weight: 500;
  list-style: none;
  margin-top: 0.125rem;
  padding: 0 4.688rem;
  text-align: center;
}

.trending-terms__list > {
  li {
    color: var(--trending-terms-list-font-color);
    display: inline;
    &::after {
      content: ",";
    }
    &:last-child::after {
      content: "";
    }

    a {
      color: var(--trending-terms-list-font-color);
      text-decoration: none;
    }
  }
}

// 495px front page title break line
@media (min-width: 30.938rem) {
  .front-title > {
    br {
      display: inline;
    }
  }
}

// 768px design desktop
@media (min-width: 48rem) {
  .home {
    height: auto;
    padding-bottom: 5rem;
  }

  .front-title {
    font-size: 2.188rem;
    margin-top: 4.75rem;
  }

  .front-logo {
    max-width: 25rem;
    padding: 0;
  }

  .trending-terms__title {
    font-size: 1.125rem;
    margin-top: 4.563rem;
  }

  .trending-terms__list {
    font-size: 1rem;
    margin-top: 0.438rem;
  }
}
