// 320px mobile design
.header {
  position: fixed;
  width: 100vw;
  height: 6.25rem;
  border-top: 0.313rem solid var(--header-border-top-color);
  background-color: var(--header-bg-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo__link {
  display: inline-block;
  width: 3.063rem;
  height: 3.5rem;
  margin-left: 1.375rem;
  text-decoration: none;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar-logo__link--light {
  background-image: url(../../../assets/logo-mobile.svg);
}

.navbar-logo__link--dark {
  background-image: url(../../../assets/logo-mobile-noc.svg);
}

.navbar-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 64rem;
  padding-top: 2rem;
  background-color: rgba(var(--navbar-menu-bg-color-dec), 0.9);
}

// FIXME: HIDE OVERFLOW ON HEADER
.navbar-menu--show {
  top: 5.938rem;
  transform: translateX(0);
  transition: transform 0.33s ease;
}

// TODO: ADD SEPARATED ANIM CLASSES
.navbar-menu--close {
  top: 5.938rem;
  transform: translateX(100%);
  transition: transform 0.33s ease;
}

.navbar-menu__list {
  list-style: none;
}

.navbar-menu__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1.563rem;
}

.navbar-menu__link {
  display: inline-block;
  height: 1.875rem;
  margin: 0.688rem 0;
  text-decoration: none;
  font-family: $secondary-font;
  font-weight: bold;
  color: var(--navbar-menu-link-color);
}

.navbar-menu__item-separator {
  display: inline-block;
  width: 2.563rem;
  border-bottom: solid 0.125rem var(--navbar-menu-link-item-separator-color);
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-buttons__create-gif {
  display: none;
}

.navbar-buttons__hamburguer {
  width: 0.938rem;
  height: 0.875rem;
  margin-right: 1.625rem;
  border: none;
  color: transparent;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.navbar-buttons__hamburguer--show {
  background-image: url(../../../assets/burger.svg);
}

.navbar-buttons__hamburguer--close {
  background-image: url(../../../assets/close.svg);
}

// 768px desktop design
@media (min-width: 48rem) {
  .header {
    height: 5.938rem;
  }

  .navbar-menu {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0;
    margin-top: 0;
    background-color: transparent;
    transform: translateY(0);
    transition: transform 0.2s ease;
  }

  .navbar-menu--show {
    top: auto;
  }

  .navbar-menu--close {
    top: auto;
  }

  .navbar-menu__list {
    padding-right: 9.75rem;
  }

  .navbar-menu__item {
    width: fit-content;
    display: inline-block;
    padding: 0rem 0rem;
    padding-left: 1.625rem;
  }

  .navbar-menu__link {
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.813rem;
    font-weight: bold;
    color: var(--navbar-menu-link-desktop-color);

    &:hover {
      padding-bottom: 0.125rem;
      border-bottom: solid 0.125rem var(--navbar-menu-link-desktop-hover-color);
    }
    &:active {
      color: var(--navbar-menu-link-desktop-active-color);
    }
  }

  .navbar-menu__item-separator {
    display: none;
  }

  .navbar-logo__link {
    width: 4.25rem;
    height: 3.75rem;
    margin-left: 9.75rem;
  }

  .navbar-logo__link--light {
    background-image: url(../../../assets/logo-desktop.svg);
  }

  .navbar-logo__link--dark {
    background-image: url(../../../assets/logo-desktop-noc.svg);
  }

  .navbar-buttons__hamburguer {
    display: none;
  }
}

// 1024px desktop design
@media (min-width: 64rem) {
  .navbar-menu__list {
    padding-right: 3.688rem;
  }
  .navbar-buttons__create-gif {
    display: inline-block;
    width: 3.375rem;
    height: 3.375rem;
    border: none;
    color: transparent;
    margin-right: 9.75rem;
    background-color: transparent;
  }

  .navbar-buttons__create-gif--light {
    background-image: url(../../../assets/CTA-crear-gifo.svg);
    &:hover {
      background-image: url(../../../assets/CTA-crear-gifo-hover.svg);
    }
    &:active {
      background-image: url(../../../assets/CTA-crear-gifo-active.svg);
    }
  }

  .navbar-buttons__create-gif--dark {
    background-image: url(../../../assets/CTA-crear-gifo-modo-noc.svg);
    &:hover {
      background-image: url(../../../assets/CTA-crear-gifo-hover-modo-noc.svg);
    }
    &:active {
      background-image: url(../../../assets/CTA-crear-gifo-active-modo-noc.svg);
    }
  }
}
