// 320px mobile design
.header {
  position: fixed;
  width: 100vw;
  height: 6.25rem;
  border-top: 0.313rem solid var(--secondary-color);
  background-color: var(--bg-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo__link {
  display: inline-block;
  width: 3.063rem;
  height: 3.5rem;
  margin-left: 1.375rem;
  background-image: url(../../../assets/logo-desktop.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
}

.navbar-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 64rem;
  padding-top: 2rem;
  background-color: rgba(var(--secondary-color-dec), 0.9);
}

// FIXME: HIDE OVERFLOW ON HEADER
.navbar-menu--show {
  top: 5.938rem;
  transform: translateY(0);
  transition: transform 0.2s ease;
}

.navbar-menu--close {
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}

.navbar-menu__list {
  list-style: none;
}

.navbar-menu__item {
  padding-bottom: 1.563rem;
  text-align: center;
}

.navbar-menu__link {
  text-decoration: none;
  font-family: $secondary-font;
  font-weight: bold;
  color: var(--bg-color);
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-buttons__create-gif {
  display: none;
}

.navbar-buttons__hamburguer {
  width: 0.938rem;
  height: 0.875rem;
  margin-right: 1.625rem;
  border: none;
  color: transparent;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar-buttons__hamburguer--show {
  background-image: url(../../../assets/burger.svg);
}

.navbar-buttons__hamburguer--close {
  background-image: url(../../../assets/close.svg);
}

// 768px desktop design
@media (min-width: 48rem) {
  .header {
    height: 5.938rem;
  }

  .navbar-menu {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0;
    margin-top: 0;
    background-color: transparent;
    transform: translateY(0);
    transition: transform 0.2s ease;
  }

  .navbar-menu--show {
    top: 0;
  }

  .navbar-menu__list {
    padding-right: 9.75rem;
  }

  .navbar-menu__item {
    width: fit-content;
    display: inline-block;
    padding: 0rem 0rem;
    padding-left: 1.625rem;
  }

  .navbar-menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.813rem;
    font-weight: bold;
    color: var(--secondary-color);
  }

  .navbar-logo__link {
    width: 4.25rem;
    height: 3.75rem;
    margin-left: 9.75rem;
  }

  .navbar-buttons__hamburguer {
    display: none;
  }
}

// 1024px desktop design
@media (min-width: 64rem) {
  .navbar-menu__list {
    padding-right: 3.688rem;
  }
  .navbar-buttons__create-gif {
    color: transparent;
    display: inline-block;
    background-image: url(../../../assets/button-crear-gifo.svg);
    background-color: transparent;
    width: 3.375rem;
    height: 3.375rem;
    border: none;
    margin-right: 9.75rem;

    &:hover {
      background-image: url(../../../assets/button-crear-gifo-hover.svg);
    }
  }
}
