// 320px mobile design
.main {
  padding-top: 6.25rem;
  width: 100vw;
  background-color: var(--main-bg-color);
}

// 768px desktop design
@media (min-width: 48rem) {
  .main {
    padding-top: 5.938rem;
  }
}
