.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 2.188rem;
}

.welcome {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    color: var(--welcome-title-font-color);
    font-family: $secondary-font;
    font-size: 1.563rem;
    margin-top: 0.438rem;
    padding: 0 2.75rem;
    text-align: center;
    width: 100%;
  }
  span {
    color: var(--welcome-title-font-span-color);
  }
  br {
    display: none;
  }
  img {
    margin-top: 1.875rem;
    max-width: 31.376rem;
    padding: 0 3.188rem;
    width: 100%;
  }
}

.results {
  align-items: center;
  flex-direction: column;

  span {
    border-top: 0.063rem solid var(--results-border-top-color);
    display: inline-block;
    width: 9.813rem;
  }

  h2 {
    color: var(--results-title-font-color);
    font-family: $secondary-font;
    font-size: 1.563rem;
    padding-bottom: 2.375rem;
    padding-top: 2.75rem;
    text-align: center;
  }
}

.results--show {
  display: flex;
}

.results--hide {
  display: none;
}

// 495px front page title break line
@media (min-width: 30.938rem) {
  .welcome {
    br {
      display: inline;
    }
  }
}

// 768px design desktop
@media (min-width: 48rem) {
  .home {
    height: auto;
    padding-bottom: 5rem;
  }

  .welcome {
    h2 {
      font-size: 2.188rem;
      margin-top: 4.75rem;
    }
    img {
      max-width: 25rem;
      padding: 0;
    }
  }

  .results {
    span {
      width: 21.125rem;
    }

    h2 {
      font-size: 2.188rem;
      padding-bottom: 3.75rem;
      padding-top: 5rem;
    }
  }
}
