@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.1/css/fontawesome.css");
@import url("https://use.fontawesome.com/releases/v5.15.1/css/regular.css");
@import url("https://use.fontawesome.com/releases/v5.15.1/css/brands.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* theme colors */
:root {
  --main-bg-color: #fff;
  --header-bg-color: #fff;
  --header-border-top-color: #572ee5;
  --navbar-menu-bg-color-dec: 87, 46, 229;
  --navbar-menu-bg-alpha-dec: 0.9;
  --navbar-menu-link-color: #fff;
  --navbar-menu-link-desktop-color: #572ee5;
  --navbar-menu-link-desktop-hover-color: #5ed7c6;
  --navbar-menu-link-desktop-active-color: #9cafc3;
  --navbar-menu-link-item-separator-color: #fff;
  --welcome-title-font-color: #572ee5;
  --welcome-title-font-span-color: #52e3c3;
  --search-border-color: #572ee5;
  --search-text-font-color: #000;
  --search-suggestions-border-top-color: #9cafc3;
  --search-trending-title-font-color: #572ee5;
  --search-trending-list-font-color: #572ee5;
  --trending-bg-color: #f3f5f8;
  --trending-title-color: #572ee5;
  --trending-description-color: #000;
  --footer-bg-color: #fff;
  --footer-border-bottom-color: #572ee5;
  --footer-icons-link-color: #cdd6e0;
  --footer-icons-link-hover-color: #572ee5;
  --footer-social-text-color: #000;
  --footer-copyright-text-color: #000;
}

[data-theme="night"] {
  --main-bg-color: #37383c;
  --header-bg-color: #37383c;
  --header-border-top-color: #000000;
  --navbar-menu-bg-color-dec: 0, 0, 0;
  --navbar-menu-bg-alpha-dec: 1;
  --navbar-menu-link-color: #fff;
  --navbar-menu-link-desktop-color: #fff;
  --navbar-menu-link-desktop-hover-color: #5ed7c6;
  --navbar-menu-link-desktop-active-color: #9cafc3;
  --navbar-menu-link-item-separator-color: #fff;
  --welcome-title-font-color: #fff;
  --welcome-title-font-span-color: #52e3c3;
  --search-border-color: #fff;
  --search-text-font-color: #fff;
  --search-suggestions-border-top-color: #9cafc3;
  --search-trending-title-font-color: #fff;
  --search-trending-list-font-color: #fff;
  --trending-bg-color: #222326;
  --trending-title-color: #fff;
  --trending-description-color: #fff;
  --footer-bg-color: #37383c;
  --footer-border-bottom-color: #000000;
  --footer-icons-link-color: #cdd6e0;
  --footer-icons-link-hover-color: #fff;
  --footer-social-text-color: #fff;
  --footer-copyright-text-color: #fff;
}

body {
  display: none;
  font-family: "Roboto", sans-serif, "Montserrat", sans-serif;
}

@media (min-width: 20rem) {
  body {
    display: block;
  }
}

@media (min-width: 90rem) {
  header,
  main,
  footer {
    margin: 0 calc((100vw - 90rem) / 2);
    max-width: 90rem;
    min-width: 20rem;
  }
}

.footer {
  width: 100vw;
  height: 12.563rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--footer-bg-color);
  border-bottom: 0.313rem solid var(--footer-border-bottom-color);
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__text {
  color: var(--footer-social-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 0.938rem;
  padding-top: 2.938rem;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-icons__list {
  width: 5.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-top: 1.5rem;
}

.footer-icons__item {
  font-size: 1.125rem;
}

.footer-icons__link {
  color: var(--footer-icons-link-color);
}

.footer-icons__link:hover {
  color: var(--footer-icons-link-hover-color);
}

.footer-copyright {
  color: var(--footer-copyright-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-copyright__text {
  padding-top: 2.938rem;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 48rem) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 7.25rem;
  }
  .footer-social__text {
    font-size: 0.813rem;
    padding-top: 0;
    padding-left: 9.75rem;
    white-space: nowrap;
  }
  .footer-icons__list {
    padding-top: 0;
    margin-left: 1.063rem;
  }
  .footer-copyright {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 9.875rem;
  }
  .footer-copyright__text {
    font-size: 0.813rem;
    padding-top: 0;
  }
}

.header {
  position: fixed;
  width: 100vw;
  height: 6.25rem;
  border-top: 0.313rem solid var(--header-border-top-color);
  background-color: var(--header-bg-color);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo__link {
  display: inline-block;
  width: 3.063rem;
  height: 3.5rem;
  margin-left: 1.375rem;
  text-decoration: none;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 64rem;
  padding-top: 2rem;
  background-color: rgba(var(--navbar-menu-bg-color-dec), var(--navbar-menu-bg-alpha-dec));
}

.navbar-menu--show {
  top: 5.938rem;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.33s ease;
  transition: -webkit-transform 0.33s ease;
  transition: transform 0.33s ease;
  transition: transform 0.33s ease, -webkit-transform 0.33s ease;
}

.navbar-menu--close {
  top: 5.938rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.33s ease;
  transition: -webkit-transform 0.33s ease;
  transition: transform 0.33s ease;
  transition: transform 0.33s ease, -webkit-transform 0.33s ease;
}

.navbar-menu__list {
  list-style: none;
}

.navbar-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1.563rem;
}

.navbar-menu__link {
  display: inline-block;
  height: 1.875rem;
  margin: 0.688rem 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--navbar-menu-link-color);
}

.navbar-menu__item-separator {
  display: inline-block;
  width: 2.563rem;
  border-bottom: solid 0.125rem var(--navbar-menu-link-item-separator-color);
}

.navbar-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-buttons__create-gif {
  display: none;
}

.navbar-buttons__hamburger {
  width: 0.938rem;
  height: 0.875rem;
  margin-right: 1.625rem;
  border: none;
  color: transparent;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

@media (min-width: 48rem) {
  .header {
    height: 5.938rem;
  }
  .navbar-menu {
    position: relative;
    width: 100vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 0;
    margin-top: 0;
    background-color: transparent;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  }
  .navbar-menu--show {
    top: auto;
  }
  .navbar-menu--close {
    top: auto;
  }
  .navbar-menu__list {
    padding-right: 9.75rem;
  }
  .navbar-menu__item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    padding: 0rem 0rem;
    padding-left: 1.625rem;
  }
  .navbar-menu__link {
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.813rem;
    font-weight: bold;
    color: var(--navbar-menu-link-desktop-color);
  }
  .navbar-menu__link:hover {
    padding-bottom: 0.125rem;
    border-bottom: solid 0.125rem var(--navbar-menu-link-desktop-hover-color);
  }
  .navbar-menu__link:active {
    color: var(--navbar-menu-link-desktop-active-color);
  }
  .navbar-menu__item-separator {
    display: none;
  }
  .navbar-logo__link {
    width: 4.25rem;
    height: 3.75rem;
    margin-left: 9.75rem;
  }
  .navbar-buttons__hamburger {
    display: none;
  }
}

@media (min-width: 64rem) {
  .navbar-menu__list {
    padding-right: 3.688rem;
  }
  .navbar-buttons__create-gif {
    display: inline-block;
    width: 3.375rem;
    height: 3.375rem;
    border: none;
    color: transparent;
    margin-right: 9.75rem;
    background-color: transparent;
  }
}

.main {
  padding-top: 6.25rem;
  width: 100vw;
  background-color: var(--main-bg-color);
}

@media (min-width: 48rem) {
  .main {
    padding-top: 5.938rem;
  }
}

.trending {
  height: 26.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: var(--trending-bg-color);
}

.trending h2 {
  color: var(--trending-title-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  width: 100%;
  padding: 2.875rem 1.375rem 0 1.375rem;
}

.trending p {
  text-align: center;
  font-size: 1rem;
  color: var(--trending-description-color);
  width: 100%;
  padding: 0.438rem 1.375rem 0 1.375rem;
}

.trending span {
  display: block;
}

.carousel {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel input[type="button"] {
  display: none;
}

.carousel-slider {
  width: 100%;
  min-height: 15.75rem;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /* Hide scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-slider :last-child {
  margin-right: 1.375rem;
}

.carousel-slider::-webkit-scrollbar {
  display: none;
}

.carousel-slider__slide {
  width: 15.25rem;
  height: 11.75rem;
  margin-left: 1.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: grey;
}

.carousel-slider__slide img {
  width: 100%;
  height: 100%;
}

@media (min-width: 48rem) {
  .trending {
    height: 40rem;
  }
  .trending h2 {
    font-size: 1.563rem;
    padding-top: 4.188rem;
  }
  .trending p {
    font-size: 1.125rem;
    padding-top: 0.75rem;
  }
  .trending span {
    display: inline;
  }
  .carousel input[type="button"] {
    width: 4rem;
    height: 2.5rem;
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border: none;
    color: transparent;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }
  .carousel__bttn-left {
    margin-left: 5.875rem;
    margin-right: 1.375rem;
  }
  .carousel__bttn-right {
    margin-right: 5.875rem;
    margin-left: 1.375rem;
  }
  .carousel-slider {
    width: 100%;
    min-height: 23.814rem;
    padding: 3.313rem 0;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .carousel-slider :first-child {
    margin-left: 0;
  }
  .carousel-slider :last-child {
    margin-right: 0;
  }
  .carousel-slider__slide {
    width: 22.313rem;
    height: 17.188rem;
    scroll-snap-align: start;
  }
}

.search-box {
  border-radius: 1.688rem;
  border: 0.063rem solid var(--search-border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 34.375rem;
  padding: 0 1.25rem;
  width: calc(100% - 1.313rem * 2);
}

.search-box ul {
  border-top: 0.063rem solid var(--search-suggestions-border-top-color);
  list-style: none;
  padding: 0.938rem 0;
  width: 100%;
}

.search-box ul li {
  padding-bottom: 0.938rem;
  width: 100%;
}

.search-box ul li:last-child {
  padding-bottom: 0;
}

.search-box ul li a {
  color: #9cafc3;
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.search-box ul li a::before {
  background-image: url(../assets/icon-search-submit.svg);
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  content: "";
  height: 1rem;
  padding-right: 1.688rem;
  width: 1rem;
}

.search-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-form input[type="search"] {
  background-color: transparent;
  border: none;
  color: var(--search-text-font-color);
  font-size: 1rem;
  height: 3.125rem;
  width: 100%;
}

.search-form input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.search-form input[type="button"] {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 1.25rem;
  width: 1.938rem;
}

.search-bttn__submit {
  background-position: left center;
  background-size: 1.25rem 1.25rem;
  margin-right: 0.688rem;
}

.search-bttn__submit--hide {
  visibility: hidden;
}

.search-bttn__submit--show {
  visibility: visible;
}

.search-bttn__focus {
  background-position: right center;
  background-size: 1.25rem 1.25rem;
  margin-left: 0.688rem;
}

.search-bttn__clear {
  background-position: right center;
  background-size: 0.875rem 0.875rem;
  margin-left: 0.688rem;
}

.search-suggestions--hide {
  display: none;
}

.search-suggestions--show {
  display: block;
}

.search-trending {
  width: 100%;
}

.search-trending h2 {
  color: var(--search-trending-title-font-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.938rem;
  text-align: center;
}

.search-trending ul {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  list-style: none;
  margin-top: 0.125rem;
  padding: 0 4.688rem;
  text-align: center;
}

.search-trending ul li {
  color: var(--search-trending-list-font-color);
  display: inline;
}

.search-trending ul li::after {
  content: ",";
}

.search-trending ul li:last-child::after {
  content: "";
}

.search-trending ul li a {
  color: var(--search-trending-list-font-color);
  text-decoration: none;
}

@media (min-width: 48rem) {
  .search-trending h2 {
    font-size: 1.125rem;
    margin-top: 4.563rem;
  }
  .search-trending ul {
    font-size: 1rem;
    margin-top: 0.438rem;
  }
}

.create-gif {
  display: none;
}

@media (min-width: 48rem) {
  .create-gif {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 6rem;
  }
  .video {
    height: 15rem;
  }
  .video-webcam__playback {
    width: 360px;
    height: 240px;
    display: inline-block;
  }
  .video-gif__playback {
    width: 360px;
    height: 240px;
    display: none;
  }
  .video-controls {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .video-controls__button {
    margin-left: 1rem;
    padding: 0.5rem;
  }
}

.favorites {
  height: 34.813rem;
}

.gifos {
  height: 33.25rem;
}

.home {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding-bottom: 2.813rem;
}

.welcome {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.welcome h2 {
  color: var(--welcome-title-font-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1.563rem;
  margin-top: 0.438rem;
  padding: 0 2.75rem;
  text-align: center;
  width: 100%;
}

.welcome span {
  color: var(--welcome-title-font-span-color);
}

.welcome br {
  display: none;
}

.welcome img {
  margin-top: 1.875rem;
  max-width: 31.376rem;
  padding: 0 3.188rem;
  width: 100%;
}

.results {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 30.938rem) {
  .welcome br {
    display: inline;
  }
}

@media (min-width: 48rem) {
  .home {
    height: auto;
    padding-bottom: 5rem;
  }
  .welcome h2 {
    font-size: 2.188rem;
    margin-top: 4.75rem;
  }
  .welcome img {
    max-width: 25rem;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */